@model IEnumerable<ControlMeasurements.Models.Measurement>

@{
    ViewData["Title"] = "Index";
}

<p>
    <br />
    <div class="button-Create" style="text-align:center;">
        <a class="btn btn-outline-success btn-sm" asp-action="Create" role="button">Create New</a>
    </div>
</p>
<table>
    <thead>
        <tr>
            <th>
                <div class="table">@Html.DisplayNameFor(model => model.PlaceType)</div>
                <div class="table">@Html.DisplayNameFor(model => model.MeasurementType)</div>
                <div class="table">@Html.DisplayNameFor(model => model.Value)</div>
                <div class="table">@Html.DisplayNameFor(model => model.Date)</div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="table">@Html.DisplayFor(modelItem => item.PlaceType)</div>
                    <div class="table">@Html.DisplayFor(modelItem => item.MeasurementType)</div>
                    <div class="table">@Html.DisplayFor(modelItem => item.Value)</div>
                    <div class="table">@Html.DisplayFor(modelItem => item.Date)</div>
                </td>
                <td>
                    <a class="btn btn-outline-secondary btn-sm" asp-action="Edit" asp-route-id="@item.Id" role="button">Edit</a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id" role="button">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>