@model IEnumerable<ControlMeasurements.Models.Amount>

@{
    ViewData["Title"] = "Index";
}
<br/>
<div class="headline"><h1>Prices</h1></div>
<br/>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <div class="display-window-price">@Html.DisplayNameFor(model => model.MeasurementType)</div>
                <div class="display-window-price">@Html.DisplayNameFor(model => model.Price)</div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="display-window-price">@Html.DisplayFor(modelItem => item.MeasurementType)</div>
                <div class="display-window-price">@Html.DisplayFor(modelItem => item.Price)zł</div>
            </td>
            <td>
                <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.Id" role="button">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>