@model ControlMeasurements.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="card" style="width: 350px;">
    <div class="card-body">
        <div class="Title" style="width: 300px;">
            <h5 class="card-title" style="text-align:center;">Hot Water</h5>
        </div>
        <div class="square">
            <p><strong>Kitchen</strong></p>
            <p>
                @foreach (var item in Model.KitchenHotWater)
                {
                    @Html.DisplayFor(modelItem => item.Value)
                    <br />
                    <small>@Html.DisplayFor(modelItem => item.Date)</small>
                    <br />
                }
            </p>
        </div>
        <div class="square">
            <p><strong>Bathroom</strong></p>
            <p>
                @foreach (var item in Model.BathroomHotWater)
                {
                    @Html.DisplayFor(modelItem => item.Value)
                    <br />
                    <small>@Html.DisplayFor(modelItem => item.Date)</small>
                    <br />
                }
            </p>
        </div>
    </div>
</div>
<div class="card" style="width: 350px;">
    <div class="card-body">
        <div class="Title" style="width: 300px;">
            <h5 class="card-title" style="text-align:center;">Cold Water</h5>
        </div>
        <div class="square">
            <p><strong>Kitchen</strong></p>
            <p>
                @foreach (var item in Model.KitchenColdWater)
                {
                    @Html.DisplayFor(modelItem => item.Value)
                    <br />
                    <small>@Html.DisplayFor(modelItem => item.Date)</small>
                    <br />
                }
            </p>
        </div>
        <div class="square">
            <p><strong>Bathroom</strong></p>
            <p>
                @foreach (var item in Model.BathroomColdWater)
                {
                    @Html.DisplayFor(modelItem => item.Value)
                    <br />
                    <small>@Html.DisplayFor(modelItem => item.Date)</small>
                    <br />
                }
            </p>
        </div>
    </div>
</div>
<div class="card" style="width: 200px;">
    <div class="card-body">
        <div class="Title" style="width: 150px;">
            <h5 class="card-title" style="text-align:center;">Energy</h5>
        </div>
        <div class="square-1">
            <p><strong>Corridor</strong></p>
            <p>
                @foreach (var item in Model.Corridor)
                {
                    @Html.DisplayFor(modelItem => item.Value)
                    <br />
                    <small>@Html.DisplayFor(modelItem => item.Date)</small>
                    <br />
                }
            </p>
        </div>
    </div>
</div>
<div style="clear:both;"></div>
<div class="card" style="width: 500px;">
    <div class="card-body">
        <div class="Title" style="width: 450px;">
            <h5 class="card-title" style="text-align:center;">Heat</h5>
        </div>
        <div class="square-1">
            <p><strong>Living Room</strong></p>
            <p>
                @foreach (var item in Model.LivingRoom)
                {
                    @Html.DisplayFor(modelItem => item.Value)
                    <br />
                    <small>@Html.DisplayFor(modelItem => item.Date)</small>
                    <br />
                }
            </p>
        </div>
        <div class="square-1">
            <p><strong>Bedroom</strong></p>
            <p>
                @foreach (var item in Model.BedRoom)
                {
                    @Html.DisplayFor(modelItem => item.Value)
                    <br />
                    <small>@Html.DisplayFor(modelItem => item.Date)</small>
                    <br />
                }
            </p>
        </div>
        <div class="square-1">
            <p><strong>Child Room</strong></p>
            <p>
                @foreach (var item in Model.ChildRoom)
                {
                    @Html.DisplayFor(modelItem => item.Value)
                    <br />
                    <small>@Html.DisplayFor(modelItem => item.Date)</small>
                    <br />
                }
            </p>
        </div>
    </div>
</div>
<div style="clear:both;"></div>