@model List<ControlMeasurements.ViewModels.MeasurementViewModel>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    @foreach (var measurementViewModel in Model)
    {
        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@measurementViewModel.MeasurementType</h5>

                    @foreach (var measurementView in @measurementViewModel.MeasurementViews)
                    {

                        <small>@measurementView.Measurement.Date.ToString("yyyy-MM-dd HH:mm")</small>
                        <strong>@measurementView.Measurement.Value.ToString("0.00")<text>m<sup>3</sup></text></strong>
                        <sup><strong>@measurementView.Change?.ToString("0.00")</strong></sup>
                        <br />
                    }

                </div>
            </div>

        </div>
    }
</div>



