@model ControlMeasurements.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<table>
    <thead>
        <tr>
            <th>
                <p>Kitchen hot water measurement change = @Model.KitchenHotWaterMeasurementChange</p>
                <p>Kitchen cold water measurement change = @Model.KitchenColdWaterMeasurementChange</p>
                <p>Bathroom hot water measurement change = @Model.BathroomHotWaterMeasurementChange</p>
                <p>Bathroom cold water measurement change = @Model.BathroomColdWaterMeasurementChange</p>
                <p>Living room measurement chagne @Model.LivingRoomMeasurementChange</p>
                <p>Bed room measurement change = @Model.BedRoomMeasurementChange</p>
                <p>Child room measurement change = @Model.ChildRoomMeasurementChange</p>
                <p>Corridor measurement change @Model.CorridorMeasurementChange</p>
                   @Html.DisplayNameFor(model => model.WaterMeasurements)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.KitchenHotWater)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceType)
                    @Html.DisplayFor(modelItem => item.MeasurementType)
                    @Html.DisplayFor(modelItem => item.Value)
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
    <tbody>
        @foreach (var item in Model.KitchenColdWater)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceType)
                    @Html.DisplayFor(modelItem => item.MeasurementType)
                    @Html.DisplayFor(modelItem => item.Value)
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
    <tbody>
        @foreach (var item in Model.BathroomHotWater)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceType)
                    @Html.DisplayFor(modelItem => item.MeasurementType)
                    @Html.DisplayFor(modelItem => item.Value)
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
    <tbody>
        @foreach (var item in Model.BathroomColdWater)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceType)
                    @Html.DisplayFor(modelItem => item.MeasurementType)
                    @Html.DisplayFor(modelItem => item.Value)
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeatMeasurements)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LivingRoom)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceType)
                    @Html.DisplayFor(modelItem => item.MeasurementType)
                    @Html.DisplayFor(modelItem => item.Value)
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
    <tbody>
        @foreach (var item in Model.BedRoom)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceType)
                    @Html.DisplayFor(modelItem => item.MeasurementType)
                    @Html.DisplayFor(modelItem => item.Value)
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
    <tbody>
        @foreach (var item in Model.ChildRoom)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceType)
                    @Html.DisplayFor(modelItem => item.MeasurementType)
                    @Html.DisplayFor(modelItem => item.Value)
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnergyMeasurements)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Corridor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceType)
                    @Html.DisplayFor(modelItem => item.MeasurementType)
                    @Html.DisplayFor(modelItem => item.Value)
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
</table>