@model ControlMeasurements.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WaterMeasurements)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Kitchen)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceType)
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </tbody>
    <tbody>
        @foreach (var item in Model.Bathroom)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceType)
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeatMeasurements)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LivingRoom)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceType)
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </tbody>
    <tbody>
        @foreach (var item in Model.BedRoom)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceType)
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </tbody>
    <tbody>
        @foreach (var item in Model.ChildRoom)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceType)
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnergyMeasurements)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Corridor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceType)
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </tbody>
</table>